<%= form_with(model: @record, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= @record.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @record.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="image">
    <%= form.label :image %>
    <%= image_tag(@record.image.url) if @record.image.url %>
    <%= form.file_field :image %>
  </div>

  <%= form.submit "投稿する", :class => 'btn btn-default' %>
<% end %>

<br>
<%= link_to "ブログ一覧画面にもどる", records_path, class: 'btn btn-default'  %>
