<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @record, url: records_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @record.title %></p>
  <p>本文:<%= @record.content %></p>
  <p>画像<%= image_tag @record.image %></p>
  <%= form.hidden_field :image_cache %>
  <%= form.submit  " 投稿する", :class => 'btn btn-warning'%>
<% end %>

<%= form_with(model: @record, url: new_record_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "もどる", name: 'back' ,class: 'btn btn-default' %>
<% end %>
